<h1>Pomodoro</h1
<section>
  <h1 data-attribute="countdown">25:00</h1>
  <div id="actions">
    <a href="#" data-attribute="start">Start</a>
    <a href="#" data-attribute="pause">Pause</a>
    <a href="#" data-attribute="stop">Stop</a>
  </div>
</section>
