<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro</title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
    <script src="javascripts/app.js"></script>
  </body>
</html>
